extends layout

block content

    div.w3-card-4.w3-margin-top(style="width:60%;margin-left:20%" id="initiatingRA")
        header.w3-gray.w3-padding
            h3 Inicializace Revokační autority
        div.w3-container.w3-padding
            p Revokační autority není inicializována. Pokračujte inicializací aplikace, nebo vydáním revokačního handleru.
            form(action="/initiateRA" method="GET")
                button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit') Inicializovat

    div.w3-card-4.w3-margin-top(style="width:60%;margin-left:20%")
        header.w3-light-blue.w3-padding
            h3 Vydání revokačního handleru
        div.w3-container.w3-padding
            h4.w3-margin-bottom Zvolte čtečku:
            div.w3-center.w3-margin-top
                label.w3-text-red(id="cardStatus") Čtečka nedostupná
                div(id="readerList")
            div.w3-container.w3-margin-top.w3-center
                div(class="loader2" id="card-loader" hidden=true)
                p.w3-text-green(id="cardConnected" hidden=true) Karta je funkční
                p.w3-text-red(id="cardDisconnected" hidden=true) Karta není funkční
            div(id="reloadMessage" hidden=true)
                p #[i V případě nezobrazení čtečky je nutné restartovat doplněk "Smart Card Extension", nebo celý prohlížeč.]
            label #[i Info: Kliknutím na čtečku ji otestujete.]
        div.w3-container.w3-padding
            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id='issueHandlerButton' disabled=true) Vydat
        div.w3-container.w3-padding
            div(class="loader" id="login-loader" hidden=true)
            label.w3-text-green(hidden=true id="messageHandlerOK") Revokační handler vydán
            label.w3-text-red(hidden=true id="messageHandlerError") Požadavek nebyl úspěšný
            label.w3-text-red(hidden=true id="rkvacUsed") RKVAC knihovna je práve používána, skuste za chvíli

    div.w3-card-4.w3-margin-top(style="width:60%;margin-left:20%" id="RAFiles")
        header.w3-light-blue.w3-padding
            h3 Soubory Revokační autority
        div.w3-container.w3-padding
            table.w3-table
                tr
                    th(style="width:25%") Popis
                    th Soubor
                    th(style="width:30%") Akce
                tr(id="uploadPk")
                    form(action="/uploadPkFile" method="POST" enctype="multipart/form-data")
                        td(style="padding-left:16px") Veřejný klíč
                        td
                            input.w3-input(type='file' name='ra_pk.dat')
                        td
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit' value='Upload') Nahrát
                tr(id="downloadPk")
                    td Veřejný klíč
                    td ra_pk.dat
                    td
                        form(action="/downloadPkFile" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small.w3-margin-right(type='submit') Stáhnout
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='button' id="deletePkButton") Vymazat
                tr(id="uploadPubParam")
                    form(action="/uploadPubParamFile" method="POST" enctype="multipart/form-data")
                        td(style="padding-left:16px") Veřejné parametry
                        td
                            input.w3-input(type='file' name='ra_public_parameters.dat')
                        td
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit' value='Upload') Nahrát
                tr(id="downloadPubParam")
                    td Veřejné parametre
                    td ra_public_parameters.dat
                    td
                        form(action="/downloadPubParam" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small.w3-margin-right(type='submit') Stáhnout
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='button' id="deletePubParamButton") Vymazat
                tr(id="uploadSk")
                    form(action="/uploadSkFile" method="POST" enctype="multipart/form-data")
                        td(style="padding-left:16px") Soukromý klíč
                        td
                            input.w3-input(type='file' name='ra_sk.dat')
                        td
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit' value='Upload') Nahrát
                tr(id="downloadSk")
                    td Soukromý klíč
                    td ra_sk.dat
                    td
                        form(action="/downloadSkFile" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small.w3-margin-right(type='submit') Stáhnout
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='button' id="deleteSkButton") Vymazat
                tr(id="uploadParam")
                    form(action="/uploadParamFile" method="POST" enctype="multipart/form-data")
                        td(style="padding-left:16px") Veřejné parametry
                        td
                            input.w3-input(type='file' name='ra_parameters.dat')
                        td
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit' value='Upload') Nahrát
                tr(id="downloadParam")
                    td Soukromé parametre
                    td ra_parameters.dat
                    td
                        form(action="/downloadParam" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small.w3-margin-right(type='submit') Stáhnout
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='button' id="deleteParamButton") Vymazat



    div.w3-card-4.w3-margin-top(style="width:60%;margin-left:20%" id="revocation" hidden=true)
        header.w3-light-blue.w3-padding
            h3 Revokace uživatele
        div.w3-container.w3-padding
            p
                label.w3-text-black(id="labelID") Identifikátor uživatele:
                input.w3-input.w3-border.w3-round-medium(type="text" id="userID" placeholder="1000000000000001")
            p
                label.w3-text-black(id="labelC") Pseudonym uživatele #[i C]:
                input.w3-input.w3-border.w3-round-medium(type="text" id="userC" placeholder="7deba037f...")
            p
                label(hidden=true id="inputMessage") #[i Jenom jeden z dvojice parametrů identifikátor-pseudonym může být zadán.]
            p
                label Číslo epochy:
                input.w3-input.w3-border.w3-round-medium(type="text" id="epochNumberID")
            p
                label Adresa ověřovatele:
                input.w3-input.w3-border.w3-round-medium(type="text" id="verifierAddress" placeholder="127.0.0.1")
            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id='revokeIDButton') Revokovat
            p
                label.w3-text-green(hidden=true id="messageRevokeOK") Uživatel úspěšně revokován
            p
                label.w3-text-red(hidden=true id="messageRevokeError") Požadavek nebyl úspěšný

    div.w3-card-4.w3-margin-top.w3-margin-bottom(style="width:60%;margin-left:20%")
        header.w3-light-blue.w3-padding
            h3 Reset aplikace
        div.w3-container.w3-padding
            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id='resetRKVAC') Resetovat
        div.w3-container.w3-padding(id="resetMessage" hidden=true)
            label.w3-text-red Požadavek nebyl úspěšný

    script(src='RA-client.js')